# Dependencies
/node_modules
/bun.lockb

# Build output
/dist

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE/Editor
.vscode
.idea
*.swp
*.swo

# Logs
npm-debug.log
yarn-error.log
bun.lockb
*.log

# Testing
coverage
test
spec

# Environment
.env
.env.*

/prisma/*.log
